<div class="row pt-2">
    <div class="col-ms-12">
        <div class="card">
        <div class="card-body text-left card-box p-0">
          <span class="card-text card-news-title display-5 p-3">Treading {{RssData?.rss.channel[0].title[0]}} News</span>
          <div *ngFor="let o of RssData?.rss.channel[0].item;">
            <div class="news-text-contain p-3">
                <span class="card-text card-contain d-block">{{o.title[0]}}</span>
                <span class="text-muted d-inline card-subtext"> CNBC: Top News <span class="dot"> </span> {{getDataDiff(o.pubDate)}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
